/* Estilos generales */
body {
    font-family: 'Didot', Arial, sans-serif; /* Establece Armani como la primera opción de fuente */
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    text-align: center;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    flex: 1;
    text-align: center;
}

.logo img {
    width: 100px; /* Ajusta el tamaño según tu logo */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #e63946; /* Rojo */
}

header p {
    margin: 0.5em 0 0;
}

section {
    padding: 2em;
    text-align: left;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #e63946; /* Rojo */
    font-size: 2em;
    margin-bottom: 0.5em;
}

.property {
    background-color: #fff;
    padding: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e63946; /* Rojo */
}

.property h3 {
    margin-top: 0;
    color: #000;
}

.property ul {
    padding: 0;
    list-style: none;
}

.property ul li {
    background: url('check-icon.png') no-repeat left center;
    padding-left: 20px;
    margin-bottom: 10px;
}

.gallery {
    text-align: center;
}

.amenities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.amenities img {
    max-width: 100%;
    height: auto;
    margin: 0.5em;
    border-radius: 8px;
    border: 2px solid #e63946; /* Rojo */
}

#cta {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 2em 1em;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

.cta-button {
    display: inline-block;
    background-color: #e63946; /* Rojo */
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #b72c34; /* Rojo oscuro */
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #000;
    color: #fff;
}

@media (max-width: 768px) {
    .header-content {
        text-align: center;
    }

    .property {
        font-size: 0.9em;
    }

    .amenities img {
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    header {
        background-color: #1c1c1c;
    }

    section {
        background-color: #1c1c1c;
    }

    .property {
        background-color: #333;
        color: #e0e0e0;
        border: 1px solid #e63946; /* Rojo */
    }

    .amenities img {
        border: 2px solid #444;
    }

    #cta {
        background-color: #333;
    }

    footer {
        background-color: #1c1c1c;
    }
}
